.sHotelWrapper{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}
.mainHeader{
    background: #E2EFFA;
    height: 80px;
}
.mainHeader{
    padding-left: 20px;
    gap: 2px;
    display: flex;
    align-items: center;
}
.innerContainer{
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    height: 100%;
    margin-bottom: 20px;
}
.hotelDetails{
    display: flex;
    flex-direction: column;
}
.hotelDetails .hotel {
    display: flex;

}
.hotelDetails .hotel .right{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.right .ratings{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ratings .ratingNo{
    display: flex;
    gap: 20px;
}
.ratingNo .outOf{
    text-align: center;
    color: #fff;
    padding: 5px;
    padding-top: 7px;
    background: #23AEFE;
    width: 40px;
    height: 40px;
    font-weight: 500;
    border-radius: 5px;
}
.ratingNo .overAll{
    text-align: center;
    font-weight: 500;
    /* color: #fff; */
    padding: 5px;
    padding-top: 7px;
    background: #85FFD6;
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
.right .StateCity{
    display: flex;
    gap: 20px;
}
.right .StateCity span{
    background: #E2EFFA;
    padding: 5px 10px;
}
.right p{
    font-size: large;
}
.right .address{
    margin-top: 10px;
}
.right .address img{
    margin-right: 5px;
}
.right .phone{
    margin-top: -10px;
}

.bookBtn {
    /* margin-top: 20px; */
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background: #23AEFE;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.bookBtn:hover{
    background: #1c89c8;
}
.bookBtn button{
    outline: none;
    background: transparent;
    border: none;
    padding: 10px;
    font-weight: bolder;
    font-size: large;
    color: #fff;
}

.rooms{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.typesWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}