.roomTypeWrapper{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    gap: 10px;
    background-color: #E2EFFA;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.roomTypeWrapper:hover{
    background-color: #bfd3e2;
}
.imgDiv{
    width: 400px;
    height: 200px;
    overflow: hidden;
}
.imgDiv img{
    object-fit: cover;
    height: 200px;
}
.typeName{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.typeName div span{
    font-size: medium;
    padding-top: 1.5px;
    font-weight: 500;
}
.typeName div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.price{
    display: flex;
    gap: 10px;
}
.price span{
    font-size: medium;
    padding-top: 1.5px;
    font-weight: 500;
}
.available{
    display: flex;
    gap: 10px;
}
.available span{
    font-size: medium;
    padding-top: 1.5px;
    font-weight: 500;
}